<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>down-list</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src='../lib/3rd/jquery-1.11.1.min.js'></script>
<script src='../lib/3rd/chroma/chroma.js'></script>
<script src='../lib/aYin/aYin.js'></script>
<link rel='stylesheet' type='text/css' href='../lib/aYin/aYin.css'>
<script src='../lib/3rd/bootstrap/js/bootstrap.js'></script>
<link rel='stylesheet' type='text/css' href='../lib/3rd/bootstrap/css/bootstrap.css'>
<link rel='stylesheet' type='text/css' href='../lib/style/css/main.css'>
<link rel='stylesheet/less' type='text/css' href='../lib/style/css/down-list.less'/>
<script src='../lib/3rd/less/less.js'></script>
<style type="text/css">
</style>
<style type="text/less">

</style>
</head>
<body>
	<!---------header------------>
    <header class="ui-header">
    		<div class="ui-limit">
    			<div class="logo-wrapper">
    				<div class="logo"></div>
    				<div class="desc">资源分享站</div>
    			</div>
    			<div class="btn-group" role="group" aria-label="...">
			  <button type="button" class="btn btn-default"><i class="fa fa-share"></i>分享本站地址</button>
			  <button type="button" class="btn btn-danger btn-toggle-view"><i class="fa fa-th-list"></i>切换为平铺视图</button>
			</div>
			<div class="view-count">
				<span class="desc"><i class="fa fa-eye"></i>访问量：</span>
				<span class="count">23120</span>
			</div>
			<div class="count-down">
				<p class="minfo">
					本页将于<span class="count">0</span>天<span class="count">3</span>时<span class="count">45</span>分<span class="count">22</span>秒 后自动删除
				</p>
				<p class="sinfo">每点击一次本页面有效期增加1分钟,最长不超过24小时</p>
			</div>
			<p class="film-title">
				<span class="type">美剧</span>
				<span class="name-chs">权力的游戏</span>
				<span class="name-eng">Game of Thrones</span>
				<span class="desc">的全部资源下载</span>
			</p>
			<p class="share-info">
				最新的权力游戏下载地址，留言信息，如没有请隐藏！<!--如果太长，会省略。没有人关心此信息。-->
			</p>
    		</div>
	</header>
	<div class="ui-content">
		<div class="ui-limit">
			<div class="row row-content view-tabs">
				<!---------资讯类------------>
				<div class="col-box col-sidebar">
					<div class="sidebar-warpper">
						<ul class="tab-header tab-side"  role="tablist">
						  <li  role="presentation" class="active"><a href="#sidetab-01" aria-controls="sidetab-01" role="tab" data-toggle="tab">第7季</a></li>
						  <li role="presentation"><a href="#sidetab-02" aria-controls="sidetab-02" role="tab" data-toggle="tab">第6季</a></li>
						  <li role="presentation"><a href="#sidetab-03" aria-controls="sidetab-03" role="tab" data-toggle="tab">第5季</a></li>
						  <li role="presentation"><a href="#sidetab-04" aria-controls="sidetab-04" role="tab" data-toggle="tab">第4季</a></li>
						  <li role="presentation"><a href="#sidetab-05" aria-controls="sidetab-05" role="tab" data-toggle="tab">第3季</a></li>
						  <li role="presentation"><a href="#sidetab-06" aria-controls="sidetab-06" role="tab" data-toggle="tab">第2季</a></li>
						  <li role="presentation"><a href="#sidetab-07" aria-controls="sidetab-07" role="tab" data-toggle="tab">第1季</a></li>
						  <li role="presentation"><a href="#sidetab-08" aria-controls="sidetab-08" role="tab" data-toggle="tab">其他</a></li>
					    </ul>
					</div>
				</div>
				<div class="col-box col-infomation">
					<div class="tab-content info-content">
						<div role="tabpanel" class="tab-pane active" id="sidetab-01">
							<ul class="tab-header tab-info"  role="tablist">
							  <li  role="presentation"><a href="#tab-g1-01" aria-controls="tab-g1-01" role="tab" data-toggle="tab"><i class="fa fa-play-circle-o"></i>在线看</a></li>
							  <li role="presentation" class="active"><a href="#tab-g1-02" aria-controls="tab-g1-02" role="tab" data-toggle="tab">HR-HDTV<span class="badge">中字</span></a></li>
							  <li role="presentation"><a href="#tab-g1-03" aria-controls="tab-g1-03" role="tab" data-toggle="tab">HDTV</a></li>
							  <li role="presentation"><a href="#tab-g1-04" aria-controls="tab-g1-04" role="tab" data-toggle="tab">720P</a></li>
							  <li role="presentation"><a href="#tab-g1-05" aria-controls="tab-g1-05" role="tab" data-toggle="tab">1080P</a></li>
							  <li role="presentation"><a href="#tab-g1-06" aria-controls="tab-g1-06" role="tab" data-toggle="tab">WEB-DL</a></li>
							  <li role="presentation"><a href="#tab-g1-07" aria-controls="tab-g1-07" role="tab" data-toggle="tab">BD-720P</a></li>
							  <li role="presentation"><a href="#tab-g1-08" aria-controls="tab-g1-08" role="tab" data-toggle="tab">MP4<span class="badge">中字</span></a></li>
							  <li role="presentation"><a href="#tab-g1-09" aria-controls="tab-g1-09" role="tab" data-toggle="tab">RMVB<span class="badge">中字</span></a></li>
						    </ul>
						    <div class="tab-content info-content">
						    		<div role="tabpanel" class="tab-pane" id="tab-g1-01">
									<div class="infobar">第7季 专链+在线观看 （推荐）</div>
									<ul class="down-list">
										<li>
											<div class="title">
												<span class="episode">第10集</span> 
												<ul class="down-links">
													<li>
														<button class="btn">
															<div class="down-img down-img-yyets"></div>
															<p class="desc">人人下载器</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-baidu"></div>
															<p class="desc">百度云</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-fantasy"></div>
															<p class="desc">范特西视频</p>
														</button>
														<div class="copy-link" title="复制链接"></div>
													</li>
												</ul>
												<span class="date">1天前</span>
											</div>
										</li>
										<li>
											<div class="title">
												<span class="episode">第9集</span> 
												<ul class="down-links">
													<li>
														<button class="btn">
															<div class="down-img down-img-yyets"></div>
															<p class="desc">人人下载器</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-baidu"></div>
															<p class="desc">百度云</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-tencent"></div>
															<p class="desc">腾讯视频</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-fantasy"></div>
															<p class="desc">范特西视频</p>
														</button>
														<div class="copy-link" title="复制链接"></div>
													</li>
												</ul>
												<span class="date">1天前</span>
											</div>
										</li>
										<li>
											<div class="title">
												<span class="episode">第8集</span> 
												<ul class="down-links">
													<li>
														<button class="btn">
															<div class="down-img down-img-yyets"></div>
															<p class="desc">人人下载器</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-tencent"></div>
															<p class="desc">腾讯视频</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-fantasy"></div>
															<p class="desc">范特西视频</p>
														</button>
														<div class="copy-link" title="复制链接"></div>
													</li>
												</ul>
												<span class="date">1天前</span>
											</div>
										</li>
										<li>
											<div class="title">
												<span class="episode">第7集</span> 
												<ul class="down-links">
													<li>
														<button class="btn">
															<div class="down-img down-img-yyets"></div>
															<p class="desc">人人下载器</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-baidu"></div>
															<p class="desc">百度云</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-tencent"></div>
															<p class="desc">腾讯视频</p>
														</button>
													</li>
												</ul>
												<span class="date">1天前</span>
											</div>
										</li>
										<li>
											<div class="title">
												<span class="episode">第6集</span> 
												<ul class="down-links">
													<li>
														<button class="btn">
															<div class="down-img down-img-yyets"></div>
															<p class="desc">人人下载器</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-baidu"></div>
															<p class="desc">百度云</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-tencent"></div>
															<p class="desc">腾讯视频</p>
														</button>
													</li>
												</ul>
												<span class="date">1天前</span>
											</div>
										</li>
										<li>
											<div class="title">
												<span class="episode">第5集</span> 
												<ul class="down-links">
													<li>
														<button class="btn">
															<div class="down-img down-img-yyets"></div>
															<p class="desc">人人下载器</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-baidu"></div>
															<p class="desc">百度云</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-tencent"></div>
															<p class="desc">腾讯视频</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-fantasy"></div>
															<p class="desc">范特西视频</p>
														</button>
														<div class="copy-link" title="复制链接"></div>
													</li>
												</ul>
												<span class="date">1天前</span>
											</div>
										</li>
										<li>
											<div class="title">
												<span class="episode">第4集</span> 
												<ul class="down-links">
													<li>
														<button class="btn">
															<div class="down-img down-img-yyets"></div>
															<p class="desc">人人下载器</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-baidu"></div>
															<p class="desc">百度云</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-tencent"></div>
															<p class="desc">腾讯视频</p>
														</button>
													</li>
												</ul>
												<span class="date">1天前</span>
											</div>
										</li>
										<li>
											<div class="title">
												<span class="episode">第3集</span> 
												<ul class="down-links">
													<li>
														<button class="btn">
															<div class="down-img down-img-yyets"></div>
															<p class="desc">人人下载器</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-tencent"></div>
															<p class="desc">腾讯视频</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-fantasy"></div>
															<p class="desc">范特西视频</p>
														</button>
														<div class="copy-link" title="复制链接"></div>
													</li>
												</ul>
												<span class="date">1天前</span>
											</div>
										</li>
										<li>
											<div class="title">
												<span class="episode">第2集</span> 
												<ul class="down-links">
													<li>
														<button class="btn">
															<div class="down-img down-img-yyets"></div>
															<p class="desc">人人下载器</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-tencent"></div>
															<p class="desc">腾讯视频</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-fantasy"></div>
															<p class="desc">范特西视频</p>
														</button>
														<div class="copy-link" title="复制链接"></div>
													</li>
												</ul>
												<span class="date">1天前</span>
											</div>
										</li>
										<li>
											<div class="title">
												<span class="episode">第1集</span> 
												<ul class="down-links">
													<li>
														<button class="btn">
															<div class="down-img down-img-yyets"></div>
															<p class="desc">人人下载器</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-baidu"></div>
															<p class="desc">百度云</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-tencent"></div>
															<p class="desc">腾讯视频</p>
														</button>
													</li>
													<li>
														<button class="btn">
															<div class="down-img down-img-fantasy"></div>
															<p class="desc">范特西视频</p>
														</button>
														<div class="copy-link" title="复制链接"></div>
													</li>
												</ul>
												<span class="date">1天前</span>
											</div>
										</li>
										
									</ul>
								</div>
						    		<div role="tabpanel" class="tab-pane active" id="tab-g1-02">
						    			<div class="infobar">第7季 HR-HDTV <span class="badge">中字</span></div>
									<ul class="down-list">
										<li>
											<div class="title">
												<span class="episode">第10集</span> 
												<span class="filename">权力的游戏.Game.of.Thrones.S07E10.中英字幕.WEBrip.720P.mkv</span>
												<span class="filesize">623.13MB</span>
												<span class="date">1天前</span>
											</div>
											<ul class="down-links">
												<li>
													<button class="btn">
														<div class="down-img down-img-thunder"></div>
														<p class="desc">迅雷</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-emule"></div>
														<p class="desc">电驴</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-magent"></div>
														<p class="desc">磁力</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-CT"></div>
														<p class="desc">城通网盘</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-MI"></div>
														<p class="desc">小米路由</p>
													</button>
												</li>
											</ul>
										</li>
										<li>
											<div class="title">
												<span class="episode">第9集</span> 
												<span class="filename">权力的游戏.Game.of.Thrones.S07E09.中英字幕.WEBrip.720P.mkv</span>
												<span class="filesize">718.1MB</span>
												<span class="date">1天前</span>
											</div>
											<ul class="down-links">
												<li>
													<button class="btn">
														<div class="down-img down-img-thunder"></div>
														<p class="desc">迅雷</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-emule"></div>
														<p class="desc">电驴</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-magent"></div>
														<p class="desc">磁力</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-baidu"></div>
														<p class="desc">百度云</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-MI"></div>
														<p class="desc">小米路由</p>
													</button>
												</li>
											</ul>
										</li>
										<li>
											<div class="title">
												<span class="episode">第8集</span> 
												<span class="filename">权力的游戏.Game.of.Thrones.S07E08.中英字幕.WEBrip.720P.mkv</span>
												<span class="filesize">635.3MB</span>
												<span class="date">1天前</span>
											</div>
											<ul class="down-links">
												<li>
													<button class="btn">
														<div class="down-img down-img-thunder"></div>
														<p class="desc">迅雷</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-emule"></div>
														<p class="desc">电驴</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-magent"></div>
														<p class="desc">磁力</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-CT"></div>
														<p class="desc">城通网盘</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-MI"></div>
														<p class="desc">小米路由</p>
													</button>
												</li>
											</ul>
										</li>
										<li>
											<div class="title">
												<span class="episode">第7集</span> 
												<span class="filename">权力的游戏.Game.of.Thrones.S07E07.中英字幕.WEBrip.720P.mkv</span>
												<span class="filesize">627.19MB</span>
												<span class="date">1天前</span>
											</div>
											<ul class="down-links">
												<li>
													<button class="btn">
														<div class="down-img down-img-thunder"></div>
														<p class="desc">迅雷</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-emule"></div>
														<p class="desc">电驴</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-magent"></div>
														<p class="desc">磁力</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-baidu"></div>
														<p class="desc">百度云</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-MI"></div>
														<p class="desc">小米路由</p>
													</button>
												</li>
											</ul>
										</li>
										<li>
											<div class="title">
												<span class="episode">第6集</span> 
												<span class="filename">权力的游戏.Game.of.Thrones.S07E06.中英字幕.WEBrip.720P.mkv</span>
												<span class="filesize">431.09MB</span>
												<span class="date">1天前</span>
											</div>
											<ul class="down-links">
												<li>
													<button class="btn">
														<div class="down-img down-img-thunder"></div>
														<p class="desc">迅雷</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-emule"></div>
														<p class="desc">电驴</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-magent"></div>
														<p class="desc">磁力</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-CT"></div>
														<p class="desc">城通网盘</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-MI"></div>
														<p class="desc">小米路由</p>
													</button>
												</li>
											</ul>
										</li>
										<li>
											<div class="title">
												<span class="episode">第5集</span> 
												<span class="filename">权力的游戏.Game.of.Thrones.S07E05.中英字幕.WEBrip.720P.mkv</span>
												<span class="filesize">673.52MB</span>
												<span class="date">1天前</span>
											</div>
											<ul class="down-links">
												<li>
													<button class="btn">
														<div class="down-img down-img-thunder"></div>
														<p class="desc">迅雷</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-emule"></div>
														<p class="desc">电驴</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-magent"></div>
														<p class="desc">磁力</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-baidu"></div>
														<p class="desc">百度云</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-CT"></div>
														<p class="desc">城通网盘</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-MI"></div>
														<p class="desc">小米路由</p>
													</button>
												</li>
											</ul>
										</li>
										<li>
											<div class="title">
												<span class="episode">第4集</span> 
												<span class="filename">权力的游戏.Game.of.Thrones.S07E04.中英字幕.WEBrip.720P.mkv</span>
												<span class="filesize">593.09MB</span>
												<span class="date">1天前</span>
											</div>
											<ul class="down-links">
												<li>
													<button class="btn">
														<div class="down-img down-img-thunder"></div>
														<p class="desc">迅雷</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-emule"></div>
														<p class="desc">电驴</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-magent"></div>
														<p class="desc">磁力</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-baidu"></div>
														<p class="desc">百度云</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-CT"></div>
														<p class="desc">城通网盘</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-MI"></div>
														<p class="desc">小米路由</p>
													</button>
												</li>
											</ul>
										</li>
										<li>
											<div class="title">
												<span class="episode">第3集</span> 
												<span class="filename">权力的游戏.Game.of.Thrones.S07E03.中英字幕.WEBrip.720P.mkv</span>
												<span class="filesize">612.1MB</span>
												<span class="date">1天前</span>
											</div>
											<ul class="down-links">
												<li>
													<button class="btn">
														<div class="down-img down-img-thunder"></div>
														<p class="desc">迅雷</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-emule"></div>
														<p class="desc">电驴</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-magent"></div>
														<p class="desc">磁力</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-baidu"></div>
														<p class="desc">百度云</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-default"></div>
														<p class="desc">普通</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-cloud"></div>
														<p class="desc">云盘</p>
													</button>
												</li>
											</ul>
										</li>
										<li>
											<div class="title">
												<span class="episode">第2集</span> 
												<span class="filename">权力的游戏.Game.of.Thrones.S07E02.中英字幕.WEBrip.720P.mkv</span>
												<span class="filesize">603.5MB</span>
												<span class="date">1天前</span>
											</div>
											<ul class="down-links">
												<li>
													<button class="btn">
														<div class="down-img down-img-thunder"></div>
														<p class="desc">迅雷</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-emule"></div>
														<p class="desc">电驴</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-magent"></div>
														<p class="desc">磁力</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-baidu"></div>
														<p class="desc">百度云</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-default"></div>
														<p class="desc">普通</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-cloud"></div>
														<p class="desc">云盘</p>
													</button>
												</li>
											</ul>
										</li>
										<li>
											<div class="title">
												<span class="episode">第1集</span> 
												<span class="filename">权力的游戏.Game.of.Thrones.S07E01.中英字幕.WEBrip.720P.mkv</span>
												<span class="filesize">587MB</span>
												<span class="date">1天前</span>
											</div>
											<ul class="down-links">
												<li>
													<button class="btn">
														<div class="down-img down-img-thunder"></div>
														<p class="desc">迅雷</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-emule"></div>
														<p class="desc">电驴</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-magent"></div>
														<p class="desc">磁力</p>
													</button>
													<div class="copy-link" title="复制链接"></div>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-baidu"></div>
														<p class="desc">百度云</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-default"></div>
														<p class="desc">普通</p>
													</button>
												</li>
												<li>
													<button class="btn">
														<div class="down-img down-img-cloud"></div>
														<p class="desc">云盘</p>
													</button>
												</li>
											</ul>
										</li>
									</ul>
									<div class="down-list-toolbar">
										<p class="title">一键复制上方特定链接：</p>
										<div class="btn-group" role="group" aria-label="...">
										  <button type="button" class="btn btn-default">电驴</button>
										  <button type="button" class="btn btn-default">迅雷</button>
										  <button type="button" class="btn btn-default">磁力</button>
										  <button type="button" class="btn btn-default">百度云</button>
										  <button type="button" class="btn btn-default">城通网盘</button>
										</div>
									</div>
									
								</div>
						    		<div role="tabpanel" class="tab-pane" id="tab-g1-03">
									<div class="infobar">第7季 HDTV</div>
								</div>
						    		<div role="tabpanel" class="tab-pane" id="tab-g1-04">
									<div class="infobar">第7季 720P</div>
								</div>
						    		<div role="tabpanel" class="tab-pane" id="tab-g1-05">
									<div class="infobar">第7季 1080P</div>
								</div>
						    		<div role="tabpanel" class="tab-pane" id="tab-g1-06">
									<div class="infobar">第7季 WEB-DL</div>
								</div>
						    		<div role="tabpanel" class="tab-pane" id="tab-g1-07">
									<div class="infobar">第7季 BD-720P</div>
								</div>
						    		<div role="tabpanel" class="tab-pane" id="tab-g1-08">
									<div class="infobar">第7季 MP4 <span class="badge">中字</span></div>
								</div>
						    		<div role="tabpanel" class="tab-pane" id="tab-g1-09">
									<div class="infobar">第7季 RMVB <span class="badge">中字</span></div>
								</div>
						    </div>
						</div>
						<div role="tabpanel" class="tab-pane" id="sidetab-02"></div>
						<div role="tabpanel" class="tab-pane" id="sidetab-03"></div>
						<div role="tabpanel" class="tab-pane" id="sidetab-04"></div>
						<div role="tabpanel" class="tab-pane" id="sidetab-05"></div>
						<div role="tabpanel" class="tab-pane" id="sidetab-06"></div>
						<div role="tabpanel" class="tab-pane" id="sidetab-07"></div>
						<div role="tabpanel" class="tab-pane" id="sidetab-08"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	<div class="ui-footer ui-footer-simple">
		<div class="copyright">
			<p>YYeTs人人影视 2006-2017 © All Rights Reserved.</p>
			<p>神盾信息有限公司 (香港) Shield Technologies Limited 联系邮箱：shield.hk@gmail.com</p>
		</div>
	</div>
	
	<div class="hidden">
		
	</div>
	
</body>
</html>
<script>
$(function(){
	
	//复制下载链接到其余类型标签并修改文件名称中的类型
	$("#tab-g1-02").find(".down-list,.down-list-toolbar").clone().appendTo("#tab-g1-03,#tab-g1-04,#tab-g1-05,#tab-g1-06,#tab-g1-07,#tab-g1-08,#tab-g1-09");
	$("#tab-g1-03").find(".filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("中英字幕.WEBrip", "HDTV");
	});
	$("#tab-g1-04").find(".filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("中英字幕.WEBrip.", "");
	});
	$("#tab-g1-05").find(".filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("中英字幕.WEBrip.720P", "1080P");
	});
	$("#tab-g1-06").find(".filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("中英字幕.WEBrip.720P", "WEB-DL");
	});
	$("#tab-g1-07").find(".filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("中英字幕.WEBrip.720P", "BD-720P");
	});
	$("#tab-g1-08").find(".filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("WEBrip.720P.mkv", "480P.mp4");
	});
	$("#tab-g1-09").find(".filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("WEBrip.720P.mkv", "480P.rmvb");
	});
	//复制下载链接到其余季标签，并修改季信息
	$("#sidetab-01").find(".tab-header,.tab-content").clone().appendTo("#sidetab-02,#sidetab-03,#sidetab-04,#sidetab-05,#sidetab-06,#sidetab-07,#sidetab-08");
	//-------
	$("#sidetab-02").find(".infobar,.filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("第7", "第6");
		obj.innerText=obj.innerText.replace("S07", "S06");
	});
	$("#sidetab-02").find(".tab-header a").each(function(i,obj){
		obj.href=obj.href.replace("tab-g1", "tab-g2");
		obj.id=obj.id.replace("tab-g1", "tab-g2");
		$(obj).attr("aria-controls",$(obj).attr("aria-controls").replace("tab-g1", "tab-g2"))
	});
	$("#sidetab-02").find(".tab-content .tab-pane").each(function(i,obj){
		obj.id=obj.id.replace("tab-g1", "tab-g2");
	});
	//-------
	$("#sidetab-03").find(".infobar,.filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("第7", "第5");
		obj.innerText=obj.innerText.replace("S07", "S05");
	});
	$("#sidetab-03").find(".tab-header a").each(function(i,obj){
		obj.href=obj.href.replace("tab-g1", "tab-g3");
		obj.id=obj.id.replace("tab-g1", "tab-g3");
		$(obj).attr("aria-controls",$(obj).attr("aria-controls").replace("tab-g1", "tab-g3"))
	});
	$("#sidetab-03").find(".tab-content .tab-pane").each(function(i,obj){
		obj.id=obj.id.replace("tab-g1", "tab-g3");
	});
	//-------
	$("#sidetab-04").find(".infobar,.filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("第7", "第4");
		obj.innerText=obj.innerText.replace("S07", "S04");
	});
	$("#sidetab-04").find(".tab-header a").each(function(i,obj){
		obj.href=obj.href.replace("tab-g1", "tab-g4");
		obj.id=obj.id.replace("tab-g1", "tab-g4");
		$(obj).attr("aria-controls",$(obj).attr("aria-controls").replace("tab-g1", "tab-g4"))
	});
	$("#sidetab-04").find(".tab-content .tab-pane").each(function(i,obj){
		obj.id=obj.id.replace("tab-g1", "tab-g4");
	});
	//-------
	$("#sidetab-05").find(".infobar,.filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("第7", "第3");
		obj.innerText=obj.innerText.replace("S07", "S03");
	});
	$("#sidetab-05").find(".tab-header a").each(function(i,obj){
		obj.href=obj.href.replace("tab-g1", "tab-g5");
		obj.id=obj.id.replace("tab-g1", "tab-g5");
		$(obj).attr("aria-controls",$(obj).attr("aria-controls").replace("tab-g1", "tab-g5"))
	});
	$("#sidetab-05").find(".tab-content .tab-pane").each(function(i,obj){
		obj.id=obj.id.replace("tab-g1", "tab-g5");
	});
	//-------
	$("#sidetab-06").find(".infobar,.filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("第7", "第2");
		obj.innerText=obj.innerText.replace("S07", "S02");
	});
	$("#sidetab-06").find(".tab-header a").each(function(i,obj){
		obj.href=obj.href.replace("tab-g1", "tab-g6");
		obj.id=obj.id.replace("tab-g1", "tab-g6");
		$(obj).attr("aria-controls",$(obj).attr("aria-controls").replace("tab-g1", "tab-g6"))
	});
	$("#sidetab-06").find(".tab-content .tab-pane").each(function(i,obj){
		obj.id=obj.id.replace("tab-g1", "tab-g6");
	});
	//-------
	$("#sidetab-07").find(".infobar,.filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("第7", "第1");
		obj.innerText=obj.innerText.replace("S07", "S01");
	});
	$("#sidetab-07").find(".tab-header a").each(function(i,obj){
		obj.href=obj.href.replace("tab-g1", "tab-g7");
		obj.id=obj.id.replace("tab-g1", "tab-g7");
		$(obj).attr("aria-controls",$(obj).attr("aria-controls").replace("tab-g1", "tab-g7"))
	});
	$("#sidetab-07").find(".tab-content .tab-pane").each(function(i,obj){
		obj.id=obj.id.replace("tab-g1", "tab-g7");
	});
	//-------
	$("#sidetab-08").find(".infobar,.filename").each(function(i,obj){
		obj.innerText=obj.innerText.replace("第7季", "其它");
		obj.innerText=obj.innerText.replace("S07", "other");
	});
	$("#sidetab-08").find(".tab-header a").each(function(i,obj){
		obj.href=obj.href.replace("tab-g1", "tab-g8");
		obj.id=obj.id.replace("tab-g1", "tab-g8");
		$(obj).attr("aria-controls",$(obj).attr("aria-controls").replace("tab-g1", "tab-g8"))
	});
	$("#sidetab-08").find(".tab-content .tab-pane").each(function(i,obj){
		obj.id=obj.id.replace("tab-g1", "tab-g8");
	});
	//复制内容完毕！
	//绑定A标签跳转链接
	//document.getElementById("divId").scrollIntoView();
	$(".tab-side").find("a").on("click",function(){
		var str = this.href;  
		//str = str.match(/^aaa(\S*)fff/)[1];  
		str = str.match(/#.*?$/).toString(); 
		//str=str.replace(/#/, "")
		//document.getElementById(str).scrollIntoView();
		$('html, body').animate({
		    scrollTop: $(str).offset().top-30
		}, 1000);
	})
	$(window).scroll(function(){
		//alert($(window).scrollTop());
		if($(window).scrollTop()>360){
			$(".tab-side").addClass("tab-side-fixed");
		}else{
			$(".tab-side").removeClass("tab-side-fixed");
		}
	})
	
	$(".btn-toggle-view").click(function(){
		var fa=$(this).find(".fa");
		if(fa.hasClass("fa-th-list")){
			$(this).html("<i class='fa fa-th'></i>切换为标签视图");
			$(".row-content").removeClass("view-tabs").addClass("view-flat");
		}else{
			$(this).html("<i class='fa fa-th-list'></i>切换为平铺视图");
			$(".row-content").removeClass("view-flat").addClass("view-tabs");
		}
	})
	
})


$(window).load(function(){
	
});

</script>
