<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="../lib/init/loadFiles.js"></script>
<style type="text/css">
</style>
<style type="text/less">

</style>
</head>
<body>
    <header class="ui-header">
    		<div class="ui-logo">
            <img src="../lib/style/images/logo.png" class="logo" alt="zimuzu.tv" />
            <img src="../lib/style/images/logo-bg.png" class="logo-bg" />
        </div>
        <ul class="ui-nav ui-mnav">
            <li class="active">首页</li>
            <li>资讯</li>
            <li>字幕</li>
            <li>影视库</li>
            <li>今日更新</li>
            <li>排行榜</li>
            <li class="ui-dropdown dropdown-message" >
                <i class="fa fa-caret-down"></i>
                <ul class="ui-dropdown-box">
                    <li>更多菜单<span class="badge">1</span></li>
                    <li>更多菜单<span class="badge">4</span></li>
                    <li class="divider"></li>
                    <li>更多菜单</li>
                </ul>
            </li>
        </ul>
                 
        <ul class="ui-nav ui-snav">
            <li class="ui-dropdown dropdown-app" >
                <i class="fa fa-fixed fa-mobile-phone"></i>APP下载
                <ul class="ui-dropdown-box">
                    <li class="ialess">
                    		<ul class="inline-wrapper">
                    			<li>
                    				<img src="../lib/style/images/code-APP.png" alt="" class="qr-code"/>
	                    			<p>扫码下载手机APP</p>
                    			</li>
                    			<li>
                    				<img src="../lib/style/images/code-H5.png" alt=""  class="qr-code"/>
	                    			<p>扫码访问手机H5版</p>
                    			</li>
	                    		
                    		</ul>
                    </li>
                </ul>
            </li>
            <li class="ui-dropdown dropdown-message" >
                <i class="fa fa-star"></i>
                <ul class="ui-dropdown-box">
                    <li>全部<span class="badge">38</span></li>
                    <li>电影<span class="badge">2</span></li>
                    <li>美剧<span class="badge">32</span></li>
                    <li>日剧<span class="badge">1</span></li>
                    <li>韩剧<span class="badge">3</span></li>
                    <li>其他<span class="badge">8</span></li>
                    <li>资讯<span class="badge">4</span></li>
                </ul>
            </li>
            <li class="ui-dropdown dropdown-message" >
                <i class="fa fa-envelope"></i>
                <ul class="ui-dropdown-box">
                    <li>私信<span class="badge">1</span></li>
                    <li>系统通知<span class="badge">4</span></li>
                </ul>
            </li>
            <li class="ui-dropdown dropdown-user">
            		<img class="img-head" src="../lib/style/images/head/header.jpg" alt="" />
                <span class="desc">aYin86</span>
                <ul class="ui-dropdown-box">
                    <li class="user-info-wrapper">
                    		<img class="img-head" src="../lib/style/images/head/header.jpg" alt="" />
                			<div class="user-info">
                				<p class="user-name">aYin86<span class="badge">至尊会员</span></p>
                				<p class="user-type"><i class="fa fa-sun-o"></i> 剧集后期组</p>
                			</div>
                    </li>
                    <li class="divider"></li>
                    <li>
                    		<ul class="tags">
	                        <li><p>0</p><p>动态</p></li>
	                        <li><p>68</p><p>评论</p></li>
	                        <li><p>35</p><p>积分</p></li>
	                        <li><p>231</p><p>登录天数</p></li>
	                    </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="title">我要发布：</li>
                    <li>
                    		<ul class="tags">
                    			<li>新闻资讯</li>
		                    <li>收视快报</li>
		                    <li>新剧评测</li>
		                    <li>片单推荐</li>
                    		</ul>
                    		<ul class="tags">
                    			<li>剧评</li>
                    			<li>影评</li>
		                    <li>字幕</li>
		                    <li>公开课</li>
		                    <li>电影</li>
		                    <li>剧集</li>
		                    <li>求档</li>
                    		</ul>
                    </li>
                    <li class="divider"></li>
                    <li>
	                    	<ul class="tags">
	                        <li><i class="fa fa-gear"></i> 个人设置</li>
	                        <li><i class="fa fa-star"></i> 收藏</li>
	                        <li><i class="fa fa-sign-out"></i> 退出登录</li>
	                    </ul>
                    </li>
                </ul>
            </li>
            <li class="ui-dropdown dropdown-links" >
                <i class="fa fa-navicon" title="更多功能"></i>
                <ul class="ui-dropdown-box">
	                <li>互助求档</li>
                    <li>播出表</li>
                    <li class="divider"></li>
                    <li>官方微博</li>
                    <li>官方微信</li>
                    <li>人人词典</li>
                    <li>字幕工具</li>
                    <li>加入字幕组</li>
                    <li>内部</li>
                    <li class="divider"></li>
                    <li>美女视频</li>
                </ul>
            </li>
        </ul>
	</header>
	
	<div class="ui-content content-top">
		<div class="ui-limit">
			<div class="ui-search">
				<input type="text" class="search-input" placeholder="请您要搜寻的内容，如 电影 美剧 字幕 资讯" />
				<button class="search-button"><i class="fa fa-search"></i></button>
			</div>
			<div class="row row-banner">
				<div class="col-xs-9">
					
					<div class="ui-banner">
						<div id="ui-banner" class="carousel slide" data-ride="carousel">
				          <ol class="carousel-indicators">
				            <li data-target="#ui-banner" data-slide-to="0" class="active"></li>
				            <li data-target="#ui-banner" data-slide-to="1" class=""></li>
				            <li data-target="#ui-banner" data-slide-to="2" class=""></li>
				            <li data-target="#ui-banner" data-slide-to="3" class=""></li>
				            <li data-target="#ui-banner" data-slide-to="4" class=""></li>
				          </ol>
				          <div class="carousel-inner">
				            <div class="item" role="listbox" onclick="window.open('http://www.zimuzu.tv/');">
				              <img src="../lib/style/images/banner-n/banner01.png" data-holder-rendered="true">
				            </div>
				            <div class="item active" onclick="window.open('http://www.zimuzu.tv/');">
				              <img src="../lib/style/images/banner-n/banner02.png" data-holder-rendered="true">
				            </div>
				            <div class="item" onclick="window.open('www.zimuzu.tv');">
				              <img src="../lib/style/images/banner-n/banner03.png" data-holder-rendered="true">
				            </div>
				            <div class="item" onclick="window.open('http://www.zimuzu.tv/');">
				              <img src="../lib/style/images/banner-n/banner04.png" data-holder-rendered="true">
				            </div>
				            <div class="item" onclick="window.open('http://www.zimuzu.tv/');">
				              <img src="../lib/style/images/banner-n/banner05.png" data-holder-rendered="true">
				            </div>
				          </div>
				          <a class="left carousel-control" href="#ui-banner" role="button" data-slide="prev">
				            <span class=" fa fa-angle-left"></span>
				            <span class="sr-only">Previous</span>
				          </a>
				          <a class="right carousel-control" href="#ui-banner" role="button" data-slide="next">
				            <span class=" fa fa-angle-right"></span>
				            <span class="sr-only">Next</span>
				          </a>
				        </div>
					</div><!--ui-banner end-->
					
				</div>
				<div class="col-xs-3 col-box">
					
					<div class="panel panel-tody-tv">
						<div id="tvshow-slide" class="carousel slide" data-ride="carousel">
				          <ol class="carousel-indicators">
				            <li data-target="#tvshow-slide" data-slide-to="0" class="active"></li>
				            <li data-target="#tvshow-slide" data-slide-to="1" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="2" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="3" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="4" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="5" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="6" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="7" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="8" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="9" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="10" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="11" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="12" class=""></li>
				            <li data-target="#tvshow-slide" data-slide-to="13" class=""></li>
				          </ol>
				          <div class="carousel-inner">
				            <div class="item active">
				              <img src="../lib/style/images/tvplay/tvplay1.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay2.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay3.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay4.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay5.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay6.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay7.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay8.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay9.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay10.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay11.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay12.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay13.jpg" data-holder-rendered="true">
				            </div>
				            <div class="item">
				              <img src="../lib/style/images/tvplay/tvplay14.jpg" data-holder-rendered="true">
				            </div>
				          </div>
				        </div>
						<div class="panel-body scroll-wrapper">
							<ul class="today-tv-list">
								<li onclick="">
									<a href="">
										<span class="desc-chs">行尸走肉</span>
										<span class="desc-eng">The Walking Dead</span>
										<span class="episode">S02E01</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">浮生若寄</span>
										<span class="desc-eng">Crashing</span>
										<span class="episode">S03E05</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">随性所欲</span>
										<span class="desc-eng">Casual</span>
										<span class="episode">S01E03</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">全境通告</span>
										<span class="desc-eng">A.P.B.</span>
										<span class="episode">S02E01</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">世界上最后一个男人</span>
										<span class="desc-eng">The Last Man on Earth</span>
										<span class="episode">S05E18</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">衰姐们</span>
										<span class="desc-eng">Girls</span>
										<span class="episode">S11E05</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">开心汉堡店</span>
										<span class="desc-eng">Bob's Burgers</span>
										<span class="episode">S07E11</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">亿万</span>
										<span class="desc-eng">Billions</span>
										<span class="episode">S01E05</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">24小时遗产</span>
										<span class="desc-eng">24 Legacy</span>
										<span class="episode">S02E07</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">飓风营救</span>
										<span class="desc-eng">Taken</span>
										<span class="episode">S02E05</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">殖民地</span>
										<span class="desc-eng">Colony</span>
										<span class="episode">S05E11</span>
									</a>
								</li>
								
								<li>
									<a href="">
										<span class="desc-chs">美国众神</span>
										<span class="desc-eng">American God</span>
										<span class="episode">S04E08</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">异人</span>
										<span class="desc-eng">Inhumens</span>
										<span class="episode">S01E03</span>
									</a>
								</li>
								<li>
									<a href="">
										<span class="desc-chs">生活大爆炸</span>
										<span class="desc-eng">The Big Bang Theory</span>
										<span class="episode">S13E21</span>
									</a>
								</li>
								
							</ul>
						</div>
						<div class="panel-heading">
							<span class="desc">今日播出</span>
							<div class="date">2017-05-26 周五</div>
							<a class="more" href="#">更多</a>
						</div>
					</div>
					
				</div>
			</div>
		</div><!--ui-limit end-->
	</div><!--ui-content end-->
	
	<div class="ui-content ">
		<div class="ui-limit">
			<div class="row row-content">
				<div class="col-xs-9 col-box">
					<div class="panel">
						<div class="panel-heading">
							<span class="desc">24小时热门下载</span>
						</div>
						<div class="panel-body">
							
							<ul class="play-list" >
		                        <li>
		                            <div class="img-item">
		                                <span class="count">1</span>
		                                <span class="type">美剧</span>
		                                <img src="../lib/style/images/tvplay/tvplay1.jpg" alt="">
		                            </div>
		                            <p class="desc">行尸走肉</p>
		                            <p class="desc desc-en">Walking Dead</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">2</span>
		                                <span class="type">美剧</span>
		                                <img src="../lib/style/images/tvplay/tvplay2.jpg" alt="">
		                            </div>
		                            <p class="desc">浮生若寄</p>
		                            <p class="desc desc-en">Crashing</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">3</span>
		                                <span class="type">电影</span>
		                                <img src="../lib/style/images/movies/movie7.jpg" alt="">
		                            </div>
		                            <p class="desc">湄公河行动</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">4</span>
		                                <span class="type">电影</span>
		                                <img src="../lib/style/images/movies/movie2.jpg" alt="">
		                            </div>
		                            <p class="desc">黑夜传说3</p>
		                            <p class="desc desc-en">Underworld: Rise of the Lycans</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">5</span>
		                                <span class="type">电影</span>
		                                <img src="../lib/style/images/movies/movie3.jpg" alt="">
		                            </div>
		                            <p class="desc">刺客信条</p>
		                            <p class="desc desc-en">Assassin's Creed</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">6</span>
		                                <span class="type">美剧</span>
		                                <img src="../lib/style/images/tvplay/tvplay4.jpg" alt="">
		                            </div>
		                            <p class="desc">全境通告</p>
		                            <p class="desc desc-en">A.P.B.</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">7</span>
		                                <span class="type">美剧</span>
		                                <img src="../lib/style/images/tvplay/tvplay5.jpg" alt="">
		                            </div>
		                            <p class="desc">世界上最后一个男人</p>
		                            <p class="desc desc-en">The Last Man on Earth</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">8</span>
		                                <span class="type">美剧</span>
		                                <img src="../lib/style/images/tvplay/tvplay6.jpg" alt="">
		                            </div>
		                            <p class="desc">衰姐们</p>
		                            <p class="desc desc-en">Girls</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">9</span>
		                                <span class="type">美剧</span>
		                                <img src="../lib/style/images/tvplay/tvplay7.jpg" alt="">
		                            </div>
		                            <p class="desc">开心汉堡店</p>
		                            <p class="desc desc-en">Bob's Burgers</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">10</span>
		                                <span class="type">美剧</span>
		                                <img src="../lib/style/images/tvplay/tvplay8.jpg" alt="">
		                            </div>
		                            <p class="desc">亿万</p>
		                            <p class="desc desc-en">Billions</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">11</span>
		                                <span class="type">美剧</span>
		                                <img src="../lib/style/images/tvplay/tvplay9.jpg" alt="">
		                            </div>
		                            <p class="desc">24小时遗产</p>
		                            <p class="desc desc-en">24: Legacy</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">12</span>
		                                <span class="type">美剧</span>
		                                <img src="../lib/style/images/tvplay/tvplay10.jpg" alt="">
		                            </div>
		                            <p class="desc">飓风营救</p>
		                            <p class="desc desc-en">Taken</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">13</span>
		                                <span class="type">美剧</span>
		                                <img src="../lib/style/images/tvplay/tvplay11.jpg" alt="">
		                            </div>
		                            <p class="desc">殖民地</p>
		                            <p class="desc desc-en">Colony</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">14</span>
		                                <span class="type">电影</span>
		                                <img src="../lib/style/images/movies/movie1.jpg" alt="">
		                            </div>
		                            <p class="desc">血战钢锯岭</p>
		                            <p class="desc desc-en">Hacksaw Ridge</p>
		                        </li>
		                        <!--<li>
		                            <div class="img-item">
		                                <span class="count">15</span>
		                                <span class="type">电影</span>
		                                <img src="../lib/style/images/movies/movie4.jpg" alt="">
		                            </div>
		                            <p class="desc">蝙蝠侠大战超人</p>
		                            <p class="desc desc-en">Batman VS Superman</p>
		                        </li>
		                        <li>
		                            <div class="img-item">
		                                <span class="count">16</span>
		                                <span class="type">电影</span>
		                                <img src="../lib/style/images/movies/movie5.jpg" alt="">
		                            </div>
		                            <p class="desc">X战警：天启</p>
		                            <p class="desc desc-en">Xman Skyline</p>
		                        </li>-->
	                    		</ul>
						</div>
					</div>
				</div>
				
				
				<div class="col-xs-3  col-box">
					<div class="panel panel-client">
						<div class="panel-heading">
							<span class="desc">客户端下载</span>
						</div>
						<div class="panel-body">
							<ul class="client-list">
								<li>
									<div class="icon"><i class="fa fa-windows"></i></div>
									<p class="title">Windows</p>
									<p class="desc">适用于Win7以上的个人电脑</p>
								</li>
								<li>
									<div class="icon"><i class="fa fa-apple"></i></div>
									<p class="title">MAC</p>
									<p class="desc">适用于运行OSX系统的苹果电脑</p>
								</li>
								<li>
									<img class="qr-code" src="../lib/style/images/code-APP.png" alt="" />
									<div class="icon"><i class="fa fa-mobile-phone"></i></div>
									<p class="title">手机APP</p>
									<p class="desc">手机扫码直接进行下载安装</p>
								</li>
								<li>
									<div class="icon"><i class="fa fa-ellipsis-h"></i></div>
									<p class="title">更多客户端</p>
									<p class="desc">TV版、IOS版、网页版H5等</p>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div><!--row end-->
		</div><!--ui-limit end-->
	</div><!--ui-content end-->
	<div class="ui-content" style="display:none;">
		<div class="ui-limit">
			<div class="row row-content">
				<div class="col-xs-6  col-box">
					<div class="panel panel-comment">
						<div class="panel-heading">
							<span class="desc">热门评论</span>
						</div>
						<div class="panel-body">
							<div class="film-comment">
		                        <div class="user-info">
		                            <img src="../lib/style/images/head/obama.png" alt="">
		                            <a href="#"><span class="name">Obama</span></a>发布于 美剧
		                            <a href="#" class="subject">行尸走肉<b class="score">7.7</b></a>
		                            
		                        </div>
		                        <div class="comment">
		                            <p>摩根的事告送我们，哪有什么真正的平静，在这个不那么美好的世界里，做一个不好不坏的人就得了，人不犯我我不犯人，别整天把什么善良挂嘴边，没个球用！！！</p>
		                        </div>
		                        <div class="comment-bottom">
		                        		<span class="time">1天前</span>
		                        		<span class="support">5赞</span>
		                        		<span class="reply">3回复</span>
		                        </div>
		                    </div>
		                    
		                    <div class="film-comment">
		                        <div class="user-info">
		                            <img src="../lib/style/images/head/trump.png" alt="" />
		                            <a href="#"><span class="name">Trump</span></a>发布于 美剧
		                            <a href="#" class="subject">行尸走肉<b class="score">7.7</b></a>
		                        </div>
		                        <div class="comment">
		                            <div class="comment-transmit">
		                                <p class="name">@ Obama</p>
		                                <p class="comment">摩根的事告送我们，哪有什么真正的平静，在这个不那么美好的世界里，做一个不好不坏的人就得了，人不犯我我不犯人，别整天把什么善良挂嘴边，没个球用！！！</p>
		                            </div>
		                            <p>I am Winner！</p>
		                        </div>
		                        <div class="comment-bottom">
		                        		<span class="time">1天前</span>
		                        		<span class="support">5赞</span>
		                        		<span class="reply">3回复</span>
		                        </div>
		                    </div>
		                    
		                    <div class="film-comment">
		                        <div class="user-info">
		                            <img src="../lib/style/images/head/hepburn.png" alt="" />
		                            <a href="#"><span class="name">Audrey Hepburn</span></a>发布于 美剧
		                            <a href="#" class="subject">行尸走肉<b class="score">7.7</b></a>
		                        </div>
		                        <div class="comment">
		                            <p>当年看行尸走肉第一季，被震惊到了，完全是神剧！看到现在，赶紧一起删了，像老太太裹脚布一样，又臭又长！美剧的运作模式，精品最终都会烂尾！</p>
		                        </div>
		                        <div class="comment-bottom">
		                        		<span class="time">1天前</span>
		                        		<span class="support">5赞</span>
		                        		<span class="reply">3回复</span>
		                        </div>
		                    </div>
		                    
						</div>
					</div>
				</div>
			</div><!--row end-->
		</div><!--ui-limit end-->
	</div><!--ui-content end-->
</body>
</html>
<script>
$(function(){
	$(".today-tv-list").hover(function(){
		$('#tvshow-slide').carousel('pause');
	},function(){
		$('#tvshow-slide').carousel('cycle');
	})
	$(".today-tv-list li").each(function(i,li){
		$(this).hover(function(){
			$.timer.set("tvshowSlide",function(){
				$('#tvshow-slide').carousel(i)
			},500)
		})
	})
	$('.carousel').carousel({interval: 4000})	
	$(".scroll-wrapper").mCustomScrollbar({
		callbacks:{
	      onScrollStart: function(){$("body").css({overflow:"hidden"})},//滚动开始，屏蔽body滚动
	      onScroll: function(){$.timer.set("scrollWrapper",function(){$("body").css({overflow:""})},1000);}//滚动完毕，一秒后重新启用body滚动
		}
	});
})
/*

$.AllInOne({
    onload:function(){},
    from:"ui-header.html",
    obj:".ui-header",
    to:"body"
});*/
</script>
<script src="../lib/init/loadFiles-after.js"></script>