<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="../lib/init/loadFiles.js"></script>
<style type="text/css">
</style>
<style type="text/less">
.test{display:inline-block; white-space: nowrap; border: 5px solid #000;}
.sub{display: inline-block; width:800px;;}
</style>
</head>
<body>
	<div class="test">
		<div class="sub">11111</div>
		<div class="sub">22222</div>
		<div class="sub">33333</div>
		<div class="sub">44444</div>
		<div class="sub">55555</div>
	</div>
</body>
</html>
<script src="../lib/init/loadFiles-after.js"></script>
<script>
$(function(){

});
</script>
