<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="../lib/init/loadFiles.js"></script>
<style type="text/css">
</style>
<style type="text/less">
	body,html{width:100%;height:100%;}
	.test,.test2{margin:10px; background-color: blue; width: 120px;}
	.test li,.test2 li{ background-color: red; margin:10px; padding:10px; width:100px;}
</style>
</head>
<body>
	<ul class="test">
		<li>1</li>
		<li>2</li>
		<li>3</li>
	</ul>
	<ul class="test2">
		<li>一</li>
		<li>二</li>
		<li>三</li>
	</ul>
</body>
</html>
<script src="../lib/init/loadFiles-after.js"></script>
<script>
$(function(){
	$.fn.test = function(options,callback){
        var settings={
            splitNum:0,
            onload:function(){alert(1)}
        }
        var opts=$.extend(settings,options);
        $eo=this;
        $($eo).children().each(function(i,obj){
        //	alert($eo.html());
        		$(obj).on("click",{he:$eo},function(e){
        			alert(e.data.he.html());
        		});
        });
        
    }
	$(".test").test({});
	$(".test2").test({});
	$.timer.set("test",function(e){
		alert(1)
		//alert(e.test);
	},1000);
});
</script>
