<!DOCTYPE html>
<header class="ui-header">
    <div class="ui-limit">
        <div class="ui-logo">
            <img src="../lib/style/images/logo.png" class="img-logo" alt="zimuzu.tv" />
            <span class="desc">zimuzu.tv</span>
        </div>
        <ul class="ui-mnav">
            <li>首页</li>
            <li>资讯</li>
            <li>字幕</li>
            <li>下载</li>
            <li>影视库</li>
            <li>互助求档</li>
            <li>今日更新</li>
            <li>播出表</li>
        </ul>
        <div class="ui-user">
            <div class="ui-dropdown ui-dropdown-user" >
                <img class="img-head" src="../lib/style/images/head/header.jpg" alt="" />
                <span class="desc">aYin86 <span class="badge badge-zz">至尊</span> <span class="badge badge-vip">vip</span></span>
                <div class="ui-dropdown-box ">
                    <ul class="tags">
                        <li>动态<span class="badge">0</span></li>
                        <li>评论<span class="badge">33</span></li>
                        <li>积分<span class="badge">121</span></li>
                        <li>登录天数<span class="badge">231</span></li>
                    </ul>
                    <ul class="tags">
                        <li><i class="fa fa-gear"></i> 个人设置</li>
                        <li><i class="fa fa-star"></i> 收藏</li>
                        <li><i class="fa fa-sign-out"></i> 退出登录</li>
                    </ul>
                </div>
            </div>
            <div class="ui-dropdown" >
                <i class="fa fa-envelope"></i>
                <ul class="ui-dropdown-box">
                    <li>私信<span class="badge">1</span></li>
                    <li>系统通知<span class="badge">4</span></li>
                </ul>
            </div>
            <div class="ui-dropdown ui-dropdown-search">
                <i class="fa fa-search"></i>
                <div class="ui-dropdown-box ">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="请输入您要搜索的内容">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">搜索</button>
                      </span>
                    </div>
                </div>
            </div>
            <div class="ui-dropdown" >
                <i class="fa fa-navicon" title="我要发布"></i>
                <ul class="ui-dropdown-box">
                    <li class="title">我要发布：</li>
                    <li>新闻资讯</li>
                    <li>收视快报</li>
                    <li>影评</li>
                    <li>剧评</li>
                    <li>新剧评测</li>
                    <li>片单推荐</li>
                    <li>字幕</li>
                    <li>求档</li>
                </ul>
            </div>
        </div>
    </div>
</header>